* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 42, 42);
}

.App {
  color: white;
  text-align: center;
  height: 100vh;
}

.appContent {
  margin: 6rem 5rem 2rem 20rem;
  padding: 1rem;
}

/* Buttons */
.btn-custom {
  background-color: #ffb34a;
  color: white;
  box-shadow: #5a5959 0px 3px 8px;
  letter-spacing: 1.3px;
}

/* Forms */
.wrapper {
  max-width: 350px;
  min-height: 500px;
  position: relative;
  border: 1px solid rgba(156, 154, 154, 0.867);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: #f06d4c 0px 3px 8px;
}

/* Navigation */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header */
.app-name {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #f06d4c;
}
